.ol-popup {
position: absolute;
background-color: white;
-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
padding: 15px;
border-radius: 10px;
border: 1px solid #cccccc;
bottom: 30px;
z-index:3;
left:-17px;
}
.ol-popup:after, .ol-popup:before {
top: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.ol-popup:after {
border-top-color: white;
border-width: 7px;
margin-left: -7px;
}
.ol-popup:before {
border-top-color: #cccccc;
border-width: 8px;
margin-left: -8px;
}
.ol-popup-closer {
text-decoration: none;
position: absolute;
top: 2px;
right: 8px;
}
.ol-popup-closer:after {
content: "✖";
}

.cssmarker-pin {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
z-index:2;
}


.cssmarker-pin > span {
  color:white;
  position: absolute;
  transform: rotate(45deg);
  text-align:center;
  margin-top:7px;
  width:100%;
}

.cssmarker-shadow {
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: relative;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  transform: rotateX(55deg);
  margin-left:8px;
    z-index:1;
}
